.dockerignore
.editorconfig
.git/
.gitlab-ci.yml
**/.eslintrc.yaml
**/.gitignore
**/.idea/
**/.npmignore
**/.vscode/
**/*.sh
**/*.tar.gz
**/*.tgz
**/node_modules/
**/README.md
**/scripts/
**/test/
**/tsconfig.eslint.json
**/vscode.code-workspace
Dockerfile
**/*.tgz
*.tar.gz
**/.env
data/
